{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/Icone Mupenda.png' %}" type="image/x-icon">
    <title>Mupenda | Acceuil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <body style="font-family: 'Ubuntu', sans-serif; background-color: black;">

    <!-- Menu  -->
    <header>
      <nav class="navbar navbar-expand-lg shadow fixed-top" style="background-color: black;">
          <div class="container py-2">
            <!-- logo du site  -->
            <a class="navbar-brand" href="/"><img src="{% static 'images/White Mupenda Company.png' %}" alt="mupenda" width="150px"></a>
            <!-- fin logo  -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #ff6700;">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="/"> Accueil</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    A propos de nous
                  </a>
                  <ul class="dropdown-menu bg-white">
                    <li><a class="dropdown-item text-dark" href="{% url 'apropos' %}">Qui sommes-nous ?</a></li>
                    <li><a class="dropdown-item text-dark" href="{% url 'realisations' %}">Réalisations</a></li>
                    <li><a class="dropdown-item text-dark" href="{% url 'blog' %}">Blog</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link text-white" href="{% url 'service' %}"> Services </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'formation' %}">Formation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'faq' %}">Faq</a>
                </li>
              </ul>
              <div class="d-flex align-items-center">
                <a class="btn me-3 text-white" id="btn" href="{% url 'connexion' %}" style="background-color: #ff6700; "><i class="bi bi-phone-fill"></i> Demander un devis</a>
                {% if user.is_authenticated %}
                  <a href="{% url 'profil' %}" class="btn fw-bold" style="background-color: #ff6700;"><i class="bi bi-person-circle"></i> Profil</a>
                  {% else %}
                  <a class="btn me-3 text-white" id="btn" href="{% url 'connexion' %}" style="background-color: #ff6700;">Se connecter</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
    </header>
<!-- Fin menu -->

      {% block content %}

      {% endblock %}

<!-- Footer  -->
      <footer style="background-color: black;">
        <div class="container py-5">
          <div class="row g-3">
            <div class="col-md-3">
              <h1 class="text-white"><img src="{% static 'images/White Mupenda Company.png' %}" alt="" width="200"></h1>
              <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="150">
              <p class="text-white py-3">
                Entreprise Congolaise spécialisée dans les réseaux informatiques, la cyber sécurité, le développement d’applications et logiciels, la conception des systèmes informatisés et embarqués des entreprises et la communication digitale.
              </p>
              <p>
                <a class="btn text-white rounded-circle" href="#"><i class="bi bi-youtube"></i></a>
                <a class="btn text-white rounded-circle" href="#"><i class="bi bi-facebook"></i></a>
                <a class="btn text-white rounded-circle" href="#"><i class="bi bi-whatsapp"></i></a>
                <a class="btn text-white rounded-circle" href="#"><i class="bi bi-twitter-x"></i></a>
                <a class="btn text-white rounded-circle" href="#"><i class="bi bi-linkedin"></i></a>
              </p>
            </div>
            <div class="col-md-3">
              <h3 class="text-white pb-3">Accès Rapide</h3>
              <hr class="text-white">
              <a class="nav-link text-white" href="{% url 'apropos' %}"><i class="bi bi-caret-right-fill"></i> Apropos</a>
              <a class="nav-link text-white" href="{% url 'realisations' %}"><i class="bi bi-caret-right-fill"></i> Réalisations</a>
              <a class="nav-link text-white" href=""><i class="bi bi-caret-right-fill"></i> Services</a>
              <a class="nav-link text-white" href="{% url 'formation' %}"><i class="bi bi-caret-right-fill"></i> Formations</a>
              <a class="nav-link text-white" href="{% url 'contact' %}"><i class="bi bi-caret-right-fill"></i> Contacts</a>
              <a class="nav-link text-white" href="{% url 'blog' %}"><i class="bi bi-caret-right-fill"></i> Blog</a>
              <br>
              <a class="nav-link text-secondary" href="{% url 'conditions_utilisations' %}">Conditions d'utilisations</a>
              <a class="nav-link text-secondary" href="{% url 'politique' %}">Politique de confidentialité</a>
            </div>
            <div class="col-md-3">
              <h3 class="text-white pb-3">Bureau</h3>
              <hr class="text-white">
              <p class="text-white"><i class="bi bi-house-fill"></i> Goma(Drc)</p>
              <p class="text-white"><i class="bi bi-envelope-at-fill"></i> admin@gmail.com</p>
              <p class="text-white"><i class="bi bi-telephone-outbound-fill"></i> (+243) 000 000 000</p>
            </div>
            <div class="col-md-3">
              <h3 class="text-white pb-3">Newsletters</h3>
              <hr class="text-white">
              <p class="text-white">Recevez les dernières mises à jour et offre. Abonnez-vous aujourd’hui !</p>
              <form class="d-flex" role="email">
                <input class="form-control me-2" type="email" placeholder="Votre E-mail">
                <button class="btn" id="btn" type="submit" style="background-color: #ff6700; color: black"><i class="bi bi-send-fill"></i></button>
              </form>
            </div>
          </div>
        </div>
        <hr class="text-white">
        <p class="text-secondary text-center py-3">Copyright &copy; 2026 - mupenda, Tous droits reservés.</p>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </body>
</html>