{% extends 'base.html' %}

{% block content %}

<section class="pt-5">
    <div class="container text-center py-5">
        <h1 class="py-3 display-5 fw-bold" style="color: #ff6700;">Actualités</h1>
        <p class="text-white">Découvrer nos dernières actualités mise en ligne!</p>
    </div>
</section>

<section class="py-3">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-4 left">
                {% for post in object_list %}
                <div class="card mb-3 shadow">
                    {% if post.image %}
                    <img src="{{post.image.url}}" class="card-img-top" alt="{{post.titre}}">
                    {% endif %}
                    <div class="card-body">
                      <h3 class="card-title fw-semibold"><a class="text-dark nav-link" href="{% url 'blog_detail' post.slug %}"> {{post.titre}}</a></h3>
                      <p class="card-text">Publié le {{post.created_on}}</p>
                      <a href="{% url 'blog_detail' post.slug %}" class="btn fw-bold" style="background-color: black; color:#ff6700">Lire la suite ></a>
                    </div>
                </div>
                {% empty %}
                    <p class="alert-danger"><i class="bi bi-journal-x"></i>  Aucun article Publié pour le moment</p>
                {% endfor %}
            </div>
            <!-- bloc barre latterale -->
            {% block sidebar %}
                {% include 'sidebar.html' %}
            {% endblock sidebar %}
        </div>
    </div>
</section>

{% endblock %}