{% extends 'base.html' %}
{% block content %}

<section class="py-5">
    <div class="container text-center py-5 text-white">
        <p class="btn fw-semibold text-white">Accueil > Formation</p>
        <h1 class="fw-bold display-5" style="color: #ff7600;">Nos Formations</h1>
        <p class="text-white">Découvrer nos dernières formations mise en ligne!</p>
    </div>
</section>

<section>
    <div class="container">
        <div class="row g-4 mb-5">
            <div class="col-md-8 left">
                {% for formation in object_list %}
                <div class="card mb-3 shadow">
                    {% if formation.image %}
                    <img src="{{formation.image.url}}" class="card-img-top" alt="{{formation.nom}}">
                    {% endif %}
                    <div class="card-body">
                      <h1 class="card-title fw-semibold"><a class="text-dark nav-link" href="{% url 'detail_formation' formation.slug %}"> {{formation.nom}}</a></h1>
                      <!-- <script>
                        CKEDITOR.replace('description'); // Remplacez par l'ID de votre champ
                    </script> -->
                      <p class="card-text">Date de début : {{formation.date_debut}} | Date de Fin : {{formation.date_fin}}</p>
                      <p class="card-text">Heure de début : {{formation.heure_debut}} | Heure de fin : {{formation.heure_fin}}</p>
                      <p class="card-text">Prix de la formation : <span class="fw-bold fs-4">{{formation.prix}}$</span></p>
                      <a href="{% url 'detail_formation' formation.slug %}" class="btn fw-semibold" style="background-color: #ff7600; color: black;">Lire la suite ></a>
                    </div>
                </div>
                {% empty %}
                    <p class="alert alert-danger">Aucune formation pour le moment!</p>
                {% endfor %}
            </div>
            <!-- bloc barre latterale -->
            {% block sidebar %}
                {% include 'sidebar.html' %}
            {% endblock sidebar %}
        </div>
    </div>
</section>

{% endblock %}
