<!-- Ajout de la page base.html dans index.html  -->
{% extends 'base.html' %}
{% load static %}
<!-- Fin  -->
{% block content %}
<style>
  .bg-custom {
    background-image: url('{% static "images/bg_3.jpg" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  .bg-custom2 {
    background-image: url('{% static "images/cartoon-man.jpg" %}');
    background-color: rgba(0, 0, 0, 0.8); /* couche semi-transparente */ 
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  .bg-realisation {
    background-image: url('{% static "images/bg-5.jpg" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  .partenaire {
    background-image: url('{% static "images/bg-7.jpg" %}');
    background-color: rgba(0, 0, 0, 0.5); /* couche semi-transparente */ 
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
</style>

<!-- Caroussel  -->
 <section class="mb-5" style="margin-top: 60px;">
   <div id="carouselExampleCaptions" class="carousel slide bg-dark w-100 h-100 mx-auto" data-bs-ride="carousel">
       <div class="carousel-indicators">
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
       </div>
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img src="{% static 'images/fond_1.jpg' %}" class="d-block" alt="..." width="100%">
           <div class="carousel-caption d-none d-md-block">
             <h2>Mupenda Company</h2>
             <p class="fw-semibold">Entreprise Congolaise de solutions Informatique et technologique.</p>
           </div>
         </div>
         <div class="carousel-item">
           <img src="{% static 'images/caroussel_3.jpg' %}" class="d-block" alt="..." width="100%">
           <div class="carousel-caption d-none d-md-block">
             <h5>Second slide label</h5>
             <p>Some representative placeholder content for the second slide.</p>
           </div>
         </div>
         <div class="carousel-item">
           <img src="{% static 'images/caroussel_2.jpg' %}" class="d-block" alt="..." width="100%">
           <div class="carousel-caption d-none d-md-block">
             <h5>Third slide label</h5>
             <p>Some representative placeholder content for the third slide.</p>
           </div>
         </div>
       </div>
       <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
         <span class="carousel-control-prev-icon btn btn-secondary" aria-hidden="true"></span>
         <span class="visually-hidden">Précédent</span>
       </button>
       <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
         <span class="carousel-control-next-icon btn btn-secondary" aria-hidden="true"></span>
         <span class="visually-hidden">Suivant</span>
       </button>
     </div>
    <!-- Fin Caroussel -->
 </section>

 <!-- Section A propos de nous  -->
  <section class="bg-custom">
    <div class="container py-5">
      <div class="row g-3 justify-content-center align-items-center h-100">
        {% if afficherApropos %}
        <div class="col-md-6">
          {% for apropos in afficherApropos %}
          <img class="img shadow rounded-5" src="{{apropos.photo.url}}" alt="{{apropos.nom}}" width="100%">
          {% endfor %}
        </div>
        {% else %}
        <p class="alert fw-semibold alert-danger text-dark">Aucune Image à afficher pour le moment !</p>
        {% endif %}                                                         
        <div class="col-md-6 text-white text-center p-5">
          <h1 class="apropos fw-bold display-5">A propos de nous !</h1>
          <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="150">
          <!-- {% for apropos in afficherApropos %} -->
          <h3 class="pt-3 fw-semibold">Nous vous aidons à développer votre entreprise.</h3>
          <p>Nous mettons à votre disposition des solutions numériques pour      simplifier la gestion et favoriser la croissance de votre entreprise.
            Loyauté, Intégrité et Professionnalisme restent nos seules valeurs loyales.</p>
          <!-- {% endfor %} -->
          <a href="{% url 'apropos' %}" class="btn fw-semibold mt-3" style="background-color: #ff6700; color: black;">En savoir plus </a>
        </div>
      </div>
    </div>
  </section>

 <!-- Section Nos realisation -->
 <section class="bg-dark bg-realisation">
   <div class="container py-5">
     <div class="text-center my-5">
       <h1 class="text-white realisation fw-bold display-5">Nos Réalisations</h1>
       <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="150">
      </div>
      <p class="text-white text-center fs-5 pb-5">Explorez notre parcours numérique, 
        des projets qui ont transformé des idées en réalité, <br>
        des pixels qui racontent des histoires.
      </p>
      {% if afficher %}
      <div class="row g-4">
        {% for realisation in afficher %}
        <div class="col-md-3">
          <div class="card shadow h-100" style="width: 100%;">
            {% if realisation.image %}
            <img src="{{ realisation.image.url }}" class="card-img-top img-fluid" alt="{{realisation.titre}}">
            {% else %}
            <img src="{% static 'images/caroussel_3.jpg' %}" class="card-img-top img-fluid" alt="Image par défaut">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ realisation.titre }}</h5>
              <a href="#" class="btn btn-dark fw-semibold">Voir plus</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
        <p class="alert fw-semibold alert-danger text-dark">Aucune Réalisation à afficher pour le moment !</p>
      {% endif %}      
    </div>
  </section>

<!-- Section Nos Services -->
<section class="bg-custom py-5">
  <div class="container py-5">
    <div class="text-center mb-5">
      <h1 class="text-white fw-bold display-5">Nos Services</h1>
      <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="150">
    </div>
    <p class="text-white text-center fs-5 pb-5">Explorez notre parcours numérique, 
      des projets qui ont transformé des idées en réalité, <br>
      des pixels qui racontent des histoires.
    </p>
    {% if service %}
    <div class="row g-4">
      {% for Services in service %}
      <div class="col-md-3 d-flex pt-3">
        <div class="card shadow h-100" style="width: 100%;">
          {% if Services.photo %} 
          <img src="{{ Services.photo.url }}" class="card-img-top img-fluid" alt="{{ Services.nom }}">
          {% else %}
          <img src="{% static 'images/caroussel_3.jpg' %}" class="card-img-top img-fluid" alt="Image par défaut">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ Services.nom }}</h5>
            <a href="" class="btn btn-dark fw-semibold">Voir plus</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p class="alert fw-semibold alert-danger text-dark">Aucun Service à afficher pour le moment !</p>
      {% endif %}
    </div>
</div>
</section>

<!-- Section Pourquoi nous choisir ? -->
<section class="py-5">
  <div class="container py-5 text-center">
    <div> 
      <h1 class="text-white fw-bold display-5 mb-3">Pourquoi nous choisir ?</h1>
      <img class="mb-5" src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="150">
    </div>
    <div class="row g-4">
      <div class="col-md-3">
        <img class="mb-2" src="{% static 'images/portefeuille.png' %}" alt="Barre" width="150">
        <h2 class="text-white">Expérience</h2>
        <hr class="text-white w-100">
        <p class="text-white">Nous disposons d'une expérience de plus de 8 ans, Nous avons une équipe qui est  toujours à l’écoute de nos clients. Vous accompagner, vous satisfaire et réussir votre projet sont nos principales préoccupations.</p>
      </div>
      <div class="col-md-3">
        <img class="mb-2" src="{% static 'images/modernite.png' %}" alt="Barre" width="150">
        <h2 class="text-white">Modernité</h2>
        <hr class="text-white w-100">
        <p class="text-white">Nous sommes créatifs et pointus dans notre travail. Vous pouvez naviguer et consulter notre site officiel en tapant : www.mupenda.cd et découvrer nos réalisations et références afin de vous en assurer.</p>
      </div>
      <div class="col-md-3">
        <img class="mb-2" src="{% static 'images/reunion2.png' %}" alt="Barre" width="150">
        <h2 class="text-white">Equipe</h2>
        <hr class="text-white w-100">
        <p class="text-white">Notre société est composée d'une équipe dirigée par le Graphiste en personne. vous aurez donc un contact direct avec celui-ci sans passer par des commerciaux.</p>
      </div>
      <div class="col-md-3">
        <img class="mb-2" src="{% static 'images/charge-rapide.png' %}" alt="Barre" width="150">
        <h2 class="text-white">Rapide et Propre</h2>
        <hr class="text-white w-100">
        <p class="text-white">Nous exerçons notre métier avec passion, implication et courage. le taux de satisfaction de nos clients témoigne de la qualité de notre travail.</p>
      </div>
    </div>
    <a class="btn fw-semibold my-5" href="{% url 'contact' %}" style="background-color: #ff6700; color:black">Nous contacter </a>
   </div>
 </section>

<!-- Nos partenaires -->
 <section class="partenaire">
   <div class="container py-5">
    <div class="text-center">
      <h1 class="text-white fw-bold display-5">Nos Partenaires</h1>
      <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="150">
    </div>
    <div class="row g-4 my-5 justify-content-center align-items-center">
      <div class="col-md-2">
        <img class="w-75" src="{% static '/images/White Mupenda Company.png' %}" alt="">
      </div>
      <div class="col-md-2">
        <img class="w-75" src="{% static '/images/White Mupenda Company.png' %}" alt="">
      </div>
      <div class="col-md-2">
        <img class="w-75" src="{% static '/images/White Mupenda Company.png' %}" alt="">
      </div>
    </div>
    <!-- <a class="btn" href="">Voir plus ...</a> -->
   </div>
 </section>

 <!-- Temoignages -->
  <section class="my-5">
    <div class="container py-5">
      <div class="text-center mb-4">
        <h1 class="fw-bold text-white display-5">Témoignages</h1>
        <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="150">
      </div>
     <div class="row g-3">
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
     </div>
    </div>
  </section>

  <!-- Années d'expérience -->
   <section class="mb-5 bg-custom2">
    <div class="container py-5">
      <div class="row g-3 text-white">
        <div class="col-md-3 text-center">
          <h1 class="fw-semibold">+ 3 ans</h1>
          <h4>Années d'expérience</h4>
        </div>
        <div class="col-md-3 text-center">
          <h1 class="fw-semibold">+ 60%</h1>
          <h4>Projets terminés</h4>
        </div>
        <div class="col-md-3 text-center">
          <h1 class="fw-semibold">+ 105</h1>
          <h4>Clients satisfaits</h4>
        </div>
        <div class="col-md-3 text-center">
          <h1 class="fw-semibold">+ 8</h1>
          <h4>Experts en services</h4>
        </div>
      </div>
    </div>
   </section>
  {% endblock %}