{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon profil</title>
</head>
<body>
    {% block content %}
    <section class="bg-dark">
        <div class="container">
            <div class="row g-3 py-3">
                <div class="col-md-6">
                    <h3 class="text-white"><i class="bi bi-person-circle"></i> Mon profil</h3>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <p class="text-white me-5 fw-semibold">Bienvenue, <span class="text-success">Utilisateur Simple</span> !</p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle fw-semibold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Plus
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#"><button type="button" class="btn fw-semibold" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-pencil-square"></i> Editer le profil</button></a></li>
                          <li><a class="dropdown-item" href="{% url 'deconnexion' %}"><button class="btn fw-semibold" type="submit"><i class="bi bi-box-arrow-left"></i> Déconnexion</button></a></li>

                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modifier le profil -->
    <section>
        <!-- Button trigger modal -->
         <!-- <div id="editerProfil">
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                 Launch static backdrop modal
             </button>
         </div> -->
        
        <!-- Modal -->
        <div class="modal fade mt-5 pt-5" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                <h1 class="modal-title fs-5 fw-semibold" id="staticBackdropLabel"><i class="bi bi-pencil-square"></i> Modifier mon profil</h1>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <label class="label-control" for="nom">Nom</label>
                        <input class="form-control" type="text" name="nom" id="nom">
                        <label class="label-control" for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email">
                        <label class="label-control" for="mdp">Mot de passe</label>
                        <input class="form-control" type="password" name="mdp" id="mdp">
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary fw-semibold" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary fw-semibold">Sauvegarder</button>
                </div>
            </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>