{% block sidebar %}
    <div class="col-md-4 float-right">
        <div class="card">
            <h5 class="card-header">A propos</h5>
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa hic numquam esse nulla odio ullam sed nobis, obcaecati nisi ad nemo exercitationem porro incidunt officiis sapiente veritatis tempora, natus omnis?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa hic numquam esse nulla odio ullam sed nobis, obcaecati nisi ad nemo exercitationem porro incidunt officiis sapiente veritatis tempora, natus omnis?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa hic numquam esse nulla odio ullam sed nobis, obcaecati nisi ad nemo exercitationem porro incidunt officiis sapiente veritatis tempora, natus omnis?
                </p>
                <a href="" class="btn btn-primary mb-2">Chaine YouTube</a>
                <a href="" class="btn btn-primary mb-2">Documentation Mupenda</a>
            </div>
        </div>
    </div>
{% endblock sidebar %}