{% block sidebar %}
    <div class="col-md-4 float-right">
        <div class="card">
            <h3 class="card-header fw-bold" style="background-color: #ff6700; color:black">A propos</h3>
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa hic numquam esse nulla odio ullam sed nobis, obcaecati nisi ad nemo exercitationem porro incidunt officiis sapiente veritatis tempora, natus omnis?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa hic numquam esse nulla odio ullam sed nobis, obcaecati nisi ad nemo exercitationem porro incidunt officiis sapiente veritatis tempora, natus omnis?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa hic numquam esse nulla odio ullam sed nobis, obcaecati nisi ad nemo exercitationem porro incidunt officiis sapiente veritatis tempora, natus omnis?
                </p>
                <a href="" class="btn mb-2 fw-bold" style="background-color: black; color: #ff6700">Chaine YouTube</a>
                <a href="" class="btn mb-2 fw-bold" style="background-color: black; color: #ff6700">Documentation Mupenda</a>
            </div>
        </div>
    </div>
{% endblock sidebar %}