{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="bg-dark">
    <div class="container text-center py-5">
        <p class="btn fw-semibold">Accueil > Services > Vidéo et photographie</p>
        <h1 class="text-white">Réalisation vidéo et photographie</h1>
        <p class="text-white">Notre équipe de photographes et vidéastes professionnels assure les réalisations suivantes :</p>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Film d'entreprise</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Nous réalisons le tournage et le montage de films d'entreprise et vidéos institutionnelles. De l'écriture du scénario à la production des vidéos, notre agence s’attache à concevoir des films attrayants. </p>
            </div>
            <div class="col-md-6">
                <h1>Spot publicitaire</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Pour promouvoir vos produits et services, notre agence réalise vos publicités en vidéo : publicité TV et publicité vidéo pour de web.  </p>
            </div>
            <div class="col-md-6">
                <h1>Motion Design(Animation vidéo 2D)</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Que ce soit pour promouvoir un service, imager un concept, présenter un produit… Notre agence créée des vidéos d'animation (Motion design).   </p>
            </div>
            <div class="col-md-6">
                <h1>Interview vidéo</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Réalisation d'interview en vidéo pour les entreprises (portait collaborateur, présentation produits ou services, témoignages clients...)  </p>
            </div>
            <div class="col-md-6">
                <h1>Photographie (Reportage photo)</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Notre équipe de photographes professionnels réalise vos reportage photo (évènement, mise en avant produit, photo d'équipe, etc.)  </p>
            </div>
        </div>
    </div>
</section>
{% endblock%}