{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="bg-dark">
    <div class="container text-center py-5">
        <p class="btn fw-semibold">Accueil > Services > web design</p>
        <h1 class="text-white">Web design et site internet</h1>
        <p class="text-white">Notre société vous accompagne dans tous vos projets digitaux :</p>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Web design</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Définir le graphisme d'un site ou d'une application, concevoir l'ergonomie en respectant les contraintes techniques, maximiser l'expérience utilisateur, sont autant de compétences qui font partie de nos spécialités.    </p>
            </div>
            <div class="col-md-6">
                <h1>Web marketing</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Pour une étiquette autocollante orginale et totalement personnalisée choisissez notre agence qui sera vous surprendre. Nous réalisons vos étiquettes produit sur-mesure. </p>
            </div>
            <div class="col-md-6">
                <h1>Site web vitrine</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Créer un beau site internet, faire en sorte qu'il soit simple d'utilisation pour l'utilisateur et pour nos clients, qu'il soit bien référencé, que son contenu soit explicite et que son image véhicule les valeurs de votre entreprise, sont nos engagements.    </p>
            </div>
            <div class="col-md-6">
                <h1>Site web Blog</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Notre agence propose la création de votre site de vente en ligne totalement personnalisé. Nous utilisons les CMS Wordpress et Prestashop pour la gestion de votre site e-commerce </p>
            </div>
            <div class="col-md-6">
                <h1>Site web d'actualités</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Notre agence propose la création de votre site de vente en ligne totalement personnalisé. Nous utilisons les CMS Wordpress et Prestashop pour la gestion de votre site e-commerce  </p>
            </div>
            <div class="col-md-6">
                <h1>Site web E-commerce</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Notre agence propose la création de votre site de vente en ligne totalement personnalisé. Nous utilisons les CMS Wordpress et Prestashop pour la gestion de votre site e-commerce  </p>
            </div>
            <div class="col-md-6">
                <h1>Site web de streaming</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Notre agence propose la création de votre site de vente en ligne totalement personnalisé. Nous utilisons les CMS Wordpress et Prestashop pour la gestion de votre site e-commerce  </p>
            </div>
            <div class="col-md-6">
                <h1>Site web de formation</h1>
                <img src="{% static 'images/Barre latterale.png' %}" alt="Barre" width="120">
                <p>Notre agence propose la création de votre site de vente en ligne totalement personnalisé. Nous utilisons les CMS Wordpress et Prestashop pour la gestion de votre site e-commerce  </p>
            </div>
        </div>
    </div>
</section>
{% endblock%}